@import '../../styles/variables.scss';

.wrapper {
	position: relative;
}
// .rotateDiv {
// 	width: 100%;
// 	height: 100px;
// 	position: absolute;
// 	background: $blue;
// 	top: -50px;
// 	clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
// }

.projects {
	background: linear-gradient(225deg, rgba(78, 210, 243, 0.91), rgba(11, 52, 173, 0.95));
	color: $fontLight;
	display: flex;
	// overflow: hidden;
	border-top: 12px solid $darkBlue;
	// clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
	.title {
		background: linear-gradient(#ff6c22 70%, #cf9529);
		writing-mode: vertical-lr;
		width: 70px;
		padding: 0 10px;
		text-align: center;
	}
	.title,
	.projectsList {
		padding-top: 55px;
	}

	.projectsList {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		.project {
			width: 40%;
			max-width: 450px;
			min-width: 300px;
			margin: 20px;
			background: rgba(85, 85, 238, 0.243);
			border-radius: 10px;
			border: 2px solid $darkBlue;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			box-shadow: 1px 1px 12px $blue;
			position: relative;
		}
		.project:hover {
			box-shadow: 3px 7px 15px 3px $blue;
			top: -5px;
			left: -2px;
			background: rgba(80, 80, 227, 0.458);
		}
		.projectTitle {
			text-transform: uppercase;
			font-size: 1.2em;
			letter-spacing: 2px;
			font-weight: bold;
		}

		.thumbnail {
			width: 100%;
			height: 230px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		a {
			text-decoration: none;
		}
		a:visited {
			color: $darkBlue;
		}
		button {
			color: $darkBlue;
			border-radius: 4px;
			border: 3px solid $darkBlue;
			background: rgba(255, 255, 255, 0.132);
			margin: 0 5px;
		}
		button:hover {
			position: relative;
			top: -2px;
			box-shadow: 1px 10px 20px -4px rgba(0, 0, 0, 0.71);
		}
		button:active {
			top: 2px;
			color: blue;
			background: lightblue;
		}
	}
}
