@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');
@import '../../styles/variables.scss';

.homepage {
	height: 70vh;
	// background: lightcyan;
	color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-shadow: 2px 2px 2px black;
	background: linear-gradient(to right rgba(1, 31, 75, 0.59), rgba(0, 90, 150, 0.5));
	h1,
	h3 {
		font-family: 'Nanum Gothic Coding', monospace;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
	h1 {
		span {
			transition: all 0.1s;
			cursor: crosshair;
		}
		span:hover {
			color: $orange;
			font-size: 2em;
		}
		// font-size: 1.5rem;
	}

	h3 {
		span {
			transition: all 0.2s;
			cursor: crosshair;
		}
		span:hover {
			color: $orange;
			font-size: 1.2em;
		}
		// font-size: 1.5rem;
	}
	.initials {
		font-weight: bold;
		font-size: 2em;
	}
}
//font-family: 'Nanum Gothic Coding', monospace;
//font-family: 'Berkshire Swash', cursive;
