.homepage {
	height: 100vh;
	// background: lightcyan;
	color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-shadow: 2px 2px 2px black;
	background: linear-gradient(to right rgba(1, 31, 75, 0.59), rgba(0, 90, 150, 0.5));
}
