$veryDarkBlue: rgb(1, 31, 75);
$darkBlue: rgb(3, 57, 108);
$blue: rgb(0, 91, 150);
$lightBlue: rgb(100, 151, 177);
$veryLightBlue: rgb(179, 205, 224);
$fontLight: rgb(229, 229, 229);
$fontDark: rgb(96, 96, 96);
$orange: rgb(255, 108, 34);
$orangeMain: rgb(255, 191, 0);
