@import '../../styles/variables.scss';

.wrapper {
	position: relative;
}

.skills {
	background: linear-gradient(-200deg, $lightBlue, $darkBlue);
	color: black;
	display: flex;
	overflow: hidden;
	clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 calc(100% - 60px));
	// z-index: 3;
	.title {
		background: linear-gradient($orange 70%, rgb(207, 149, 41));
		writing-mode: vertical-rl;
		// flex: 0 auto;
		width: 70px;
		padding: 0 10px;
		text-align: center;
	}
	.title,
	.skillsList {
		padding-top: 130px;
		padding-bottom: 150px;
	}

	.skillsList {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		// background: red;
		.skill {
			margin: 20px 30px;
			text-transform: uppercase;
			position: relative;
			width: 90px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
		}
		.skillImg {
			width: 85px;
			height: 85px;
			border-radius: 50%;
			background: white;
			border: none;
			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				// padding: 2px;
			}
		}
		.skillName {
			text-align: center;
			// position: absolute;
			color: rgb(234, 234, 234);
			text-shadow: 1px 1px 3px $darkBlue;
			font-weight: bold;
			font-size: 1.2em;
			// top: -25px;
			// line-height: 1em;
		}
	}
}
