@import '../../styles/variables.scss';

.wrapper {
	position: relative;
}
.rotateDiv {
	width: 100%;
	height: 100px;
	position: absolute;
	background: $blue;
	top: -50px;
	clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
}

.skills {
	background: rgba(255, 255, 255, 0.8);
	color: black;
	display: flex;
	overflow: hidden;
	clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
	.title {
		background: $orange;
		writing-mode: vertical-lr;
		flex: 0 auto;
		width: 70px;
	}
	.title,
	.skillsList {
		padding-top: 65px;
	}
}
