@import '../../styles/variables.scss';

.wrapper {
  position: relative;
}

.about {
  background: rgba(77, 170, 224, 0.916);
  color: whitesmoke;
  display: flex;
  min-height: 100vh;
  height: 100%;
  // overflow: hidden;
  // position: absolute;
  // margin-top: -60px;
  // z-index: 1;
  // border-top: 12px solid $darkBlue;

  clip-path: polygon(0 0, 100% 60px, 100% calc(100% - 50px), 0 100%);
  // clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 calc(100% - 60px));
  .title {
    background: linear-gradient($orange 70%, rgb(207, 149, 41));
    writing-mode: vertical-rl;
    // flex: 0 auto;
    width: 65px;
    padding: 0 10px;
    text-align: center;
  }
  // .title,
  // .aboutMe {
  //   padding-top: 125px;
  //   padding-bottom: 100px;
  // }

  .info {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
  }

  .aboutMe {
    flex: 5;
    padding: 100px 5px 100px 10px;
    // text-align: justify;
  }

  .myImage {
    // background-color: rgba(255, 255, 255, 0.785);
    background: linear-gradient(rgba(255, 255, 255, 0.16), rgba(126, 126, 176, 0.236)),
      url(../../../public/images/DSC_1009ss.jpg) center center / cover no-repeat;
    height: 50%;
    width: 100%;
    flex: 2;
    max-width: 250px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 0 100%);
  }
}
