@import '../../styles/variables.scss';

.nav {
  flex: 1;
  z-index: 5;
  height: 100vh;
  overflow-y: hidden;
  ul {
    list-style: none;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    margin: 0;
    flex-flow: column;
    letter-spacing: 1px;
    transition: all 0.5s;
  }
  li {
    transition: all 0.5s;
    color: $orangeMain;
    margin: 0;
    div {
      text-align: center;
    }
  }
  a {
    text-decoration: none;
    margin: 0;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5px;

    border-radius: 8px;
  }

  .menuIcon {
    transition: transform 0.4s;
  }
  a:hover {
    li {
      color: $orange;
      cursor: pointer;
    }
    .menuIcon {
      transform: scale(1.3);
    }
    .desc {
      animation: rotateX 0.4s ease-in-out;
    }
  }
  .menuIcon {
    font-size: 40px;
  }
}

.active {
  li {
    color: $orange;
    .menuIcon {
      transform: scale(1.2);
    }
  }
}

@keyframes rotateY {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotateX {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@media only screen and (max-width: 586px) {
  .nav {
    color: $fontLight;
    flex: 1;
    max-height: 70px;
    min-height: 70px;
    // position: fixed;
    bottom: 0;
    z-index: 400;
    width: 100%;
    border-top: 1px solid $lightBlue;
    ul {
      list-style: none;
      text-transform: uppercase;
      height: 70px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-flow: row nowrap;
      letter-spacing: 1px;
      transition: all 0.5s;
      a {
        height: 100%;
        width: 20%;
      }
      .desc {
        font-size: 0.85em;
      }
    }
    a:hover {
      li {
        color: $orangeMain;
        cursor: pointer;
      }
      .menuIcon {
        transform: scale(1);
      }
      .desc {
        animation: rotateX 0.4s ease-in-out;
      }
    }
    .menuIcon {
      font-size: 40px;
    }
  }
  .active {
    li {
      color: $orangeMain;
      .menuIcon {
        transform: scale(1);
      }
    }
  }
}
