@import '../../styles/variables.scss';

.nav {
	color: $fontLight;
	flex: 1;
	ul {
		list-style: none;
		text-transform: uppercase;
		// height: 90vh;
		height: 100vh;
		padding: 40px 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0;
		flex-flow: column;
		justify-content: space-around;
		letter-spacing: 1px;
		transition: all 0.5s;
	}
	li {
		transition: all 0.5s;
	}
	a {
		text-decoration: none;
	}
	a:visited,
	a:link {
		color: $fontLight;
	}
	.menuIcon {
		transition: transform 0.4s;
	}
	li:hover {
		color: $orange;
		cursor: pointer;
		.menuIcon {
			transform: scale(1.3);
		}
		.desc {
			animation: rotateX 0.4s ease-in-out;
		}
	}
	.menuIcon {
		font-size: 40px;
	}
}

.active {
	li {
		color: $orange;
		.menuIcon {
			transform: scale(1.2);
		}
	}
	// transform: scale(1.25);
}

@keyframes rotateY {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

@keyframes rotateX {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotateX(360deg);
		transform: rotateX(360deg);
	}
}

@media only screen and (max-width: 414px) {
	.nav {
		color: $fontLight;
		flex: 1;
		ul {
			list-style: none;
			text-transform: uppercase;
			// height: 90vh;
			height: 70px;
			// padding: 40px 20px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			// margin: 0;
			flex-flow: row nowrap;
			// justify-content: space-around;
			letter-spacing: 1px;
			transition: all 0.5s;
		}
	}
}
