@import '../../styles/variables.scss';

.wrapper {
  position: relative;
}

.contact {
  min-height: 85vh;
  background: rgba(70, 142, 166, 0.548);
  color: black;
  display: flex;
  overflow: hidden;
  height: 100vh;

  // clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
  .title {
    background: orange;
    writing-mode: vertical-lr;
    flex: 0 auto;
    width: 70px;
    text-align: center;
  }
  .contactMe {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      flex-flow: column nowrap;
      min-height: 40%;
      border: 2px solid whitesmoke;
      // background: rgba(54, 54, 65, 0.562);
      width: 50%;
      min-width: 500px;
      // border-radius: 8px;
      padding: 25px 50px;
    }
    input,
    textarea,
    button {
      margin: 5px;
      padding: 5px;
      background: transparent;
      color: white;
      border: none;
      border-bottom: 1px solid rgb(255, 255, 255);
    }
    button {
      cursor: pointer;
      background: $orange;
      border: none;
    }
    textarea {
      height: 200px;
    }
  }

  .contactLinks {
    display: flex;
    // justify-content: center;
    // justify-items: center;
    height: 20%;

    .contactLink {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid whitesmoke;
      // border-radius: 8px;
      // height: 100%;
      color: $fontLight;
    }
    a {
      text-decoration: none;
      color: $fontLight;
    }
    .contactEmail {
      background: linear-gradient(45deg, rgba(207, 86, 26, 0.43), rgba(193, 12, 12, 0.694));
      &:hover {
        background: orangered;
        a {
          transform: scale(1.3);
        }
      }
    }
    .contactLinkedin {
      background: linear-gradient(-45deg, rgba(25, 25, 224, 0.521), rgba(33, 141, 229, 0.771));
      &:hover {
        background: $darkBlue;
        a {
          transform: scale(1.5);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .contact {
    height: 100vh;
    .contactMe {
      justify-content: center;
    }
    .form {
      height: auto;
      form {
        width: 90%;
        min-width: 90%;
        padding: 20px 0;
      }
    }
    .contactLinks {
      flex-direction: column;
    }
  }
}

@media (max-width: 586px) {
  .contact {
    height: calc(100vh - 70px);
    .form {
      textarea {
        height: 200px;
      }
    }
  }
}
