// @import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200, 200i, 300, 400, 600, 700, 900');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

html {
	overflow-y: hidden;
	font-family: 'Nanum Gothic Coding', monospace !important;
}
body {
	font-family: 'Nanum Gothic Coding', monospace !important;
}

.container {
	display: flex;
	height: 100vh;
	overflow-y: hidden;

	background: linear-gradient(
			to right,
			rgba(1, 29, 72, 0.97) 120px,
			rgba(39, 125, 223, 0.639),
			rgba(150, 196, 229, 0.437)
		),
		url(../../public/images/background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.menu {
	display: flex;
	flex: 1;
	height: 100vh;
	color: white;
}

.content {
	overflow: auto;
	flex: 9;
}

// @media only screen and (max-width: 414px) {
// 	.container {
// 		flex-flow: column nowrap;
// 	}
// 	.menu {
// 		max-height: 70px;
// 		flex: 1;
// 	}
// 	.content {
// 		flex: 9;
// 	}
// }
