.floats {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.194);
  div {
    top: 20px;
    animation: translateX infinite;
    position: absolute;
    // animation-timing-function: ease-in-out;
    // transition: `1s`,
    font-size: 2em;
    text-transform: uppercase;
    // font-weight: bold;
  }
}

@keyframes translateX {
  from {
    top: -2%;
  }
  to {
    top: 100%;
  }
}
